.footer{
    border-top: #005D52;
    background-color: #fff;
    font-size: 0.9rem;
    margin-top: 5rem !important;
    height: 7rem;
    padding-right: 7rem;
    text-align: right;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

.light{
    font-weight: lighter;
    margin-left: 0.7rem;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

.footer div b {
    margin-right: 0.7rem;
    margin-left: 0.7rem ;
    font-weight: bold;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

