
<div class="container">
    <div class="c-width ">
        <p>“ECONOMÍA ABIERTA Y AUTOMATIZADA PARA EMPODERAR NEGOCIOS LOCALES”</p>
        <div class="container-img">
            <div>
                <img src="./../../../assets/imgs/Ellipse 1.png" alt="map eclipse">
            </div>
        </div>
        <p>Únete ahora y contáctanos.</p>
    </div>
    <div class="c-width container-navigate">
        <ul>
            <li (click)="link('products')">PRODUCTOS</li>
            <li (click)="link('development')">DESAROLLO</li>
            <li (click)="link('mission-vision')">MISIÓN Y VISIÓN</li>
            <li (click)="link('contact-us')">CONTÁCTANOS </li>
        </ul>
    </div>
</div>