.container{
    width: 100%;
    margin-top: 110px;

    display: flex;
    .c-width{
        width: 50%; 

        p{
            text-align: center;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .container-img{
            width: 600px;
            margin: auto;
            height: 600px;
            overflow: hidden;
            border-radius: 50%;
            cursor: progress;
            div{
                width: 300%;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
                animation-duration: 20s;
                animation-name: world-crcle;
                display: block;
                img{
                    transition: 1s ease;
                }
                img:hover{
                    transform: scale(3);
                }
            }
            
        }
       
      
        @keyframes world-crcle{
            0% {
                
            } 
            20% {
                transform: translateX(-100px);
            }
            40%{
                transform: translateY(-167px);
               
            }
            60%{
                transform: translateX(-120px);
                
            }
            80%{
                transform: translateY(12px);
            }
          }
       

    }
    .container-navigate{
        ul{
            width: 75%;
            padding-top: 180px;
            display: block;
            margin:auto;
            align-items: center;
            li{
                width: 80%;
                cursor: pointer;
                height: 28px;
                padding: 16px;
                line-height: 30px;
                margin: 20px auto 20px auto;
                text-align: center;
                border: 1px solid black;
                transition: 800ms;
            }
            li:hover{
                background-color: rgba(48, 47, 47, 0.1);;
            }
        }
    }
}

