
<div class="container">
    <div class="column column1">
        <div class="type-font title1">MinecraftSwap</div>
        <p class="type-font p1">Minecraft powered by blockchain, own NFT lands and tokenized assets.</p>
       
        <div class="ui animated button color-button" tabindex="0">
            <div class="visible content type-font">Try it!</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
        </div>
    </div>

    <div class="column">
        <img class="img-steve" src="../../../assets/imgs/stevedicoverDoor.png" alt="">
    </div>
</div>
<div class="square"></div>



<div class="content separation">
    <h1 class="sizelette">
        Economy Minecraft Server
    </h1>

    <div class="centercards ui three column grid">

        <div class="column">
          <div class="ui link fluid card">
              <hr>
            <div class="content">
                <h3 class="h3">
                    Economy Minecraft Server
                </h3>
                <img class="width-image" src="../../../assets/imgs/maicraft.png" alt="">
                <p class="type-font pa">
                    let yourself be carried away to new interactions
                </p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="ui link fluid card">
                <hr>
              <div class="content">
                  <h3 class="h3">
                      Economy Minecraft Server
                  </h3>
                  <img class="width-image" src="../../../assets/imgs/paint4.jpg" alt="">
                  <p class="type-font pa">
                      let yourself be carried away to new interactions
                  </p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="ui link fluid card">
                <hr>
              <div class="content">
                  <h3 class="h3">
                      Economy Minecraft Server
                  </h3>
                  <img class="width-image" src="../../../assets/imgs/gold ingot.png" alt="">
                  <p class="type-font pa">
                      let yourself be carried away to new interactions
                  </p>
              </div>
            </div>
          </div>


    </div>
</div>


<div class="between">
</div>

<div class="shadow">
</div>