<div class="ui secondary pointing menu nav">
    <a class="item main-item" href="">
        <img src="../../../assets/imgs/cube.png" alt="">
        MinecraftSwap
    </a>
    <a (click)='link("home")' class="item">
        Home
    </a>
    <a (click)='link("development")' class="item">
        Exchange
    </a>
    <a (click)='link("products")' class="item">
        Analytics
    </a>
    <a (click)='link("products")' class="item">
        Server
    </a>
    <a (click)='link("exploremap")' class="item">
        Explore World
    </a>
</div>