<div class="ui secondary pointing menu">
    <a (click)='link("home")' class="active item">
        <img src="https://raw.githubusercontent.com/undrfined/mc-icons/master/pics/2_Grass.png">
        Home
    </a>
    <a (click)='link("development")' class="item">
        <img src="https://raw.githubusercontent.com/undrfined/mc-icons/master/pics/388_Emerald.png">
        Exchange
    </a>
    <a (click)='link("products")' class="item">
        <img src="https://raw.githubusercontent.com/undrfined/mc-icons/master/pics/340_Book.png">
        Analytics
    </a>
</div>