.item-picker {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24px);
    padding: 10px;
    padding-top: 20px;
    
    img {
        width: 24px;
        height: 24px;
        filter: saturate(0);
        opacity: 0.5;
    }

    img:hover {
        cursor: pointer;
        filter: saturate(1);
        opacity: 1;
    }
}

.main {
    display: grid;
    width: 100%;
    height: 60%;
    background-color: #fff ;
    margin-top: -0.35%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    justify-content: center;
    align-items: center;
}

.bottom-dd {
    margin-top: -2px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.top-dd {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.main-div{
    height: 25rem;
    width: 100%;
    background-image: url("../../../assets/paints/paint7.jpeg");
    height: 58rem;
    background-attachment: fixed;
}

.image-background{
    width: 100%;
    margin-top: 5.3rem;
}

.title1{
    color:#1A6D63 !important;
    font-weight: 900 !important;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.type-font{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.card{
    width: 40rem;
    height: 80%;

}

.width-button{
    width: 40%;
    background-color: #1A6D63;
    color: #fff;
    margin-top: 2rem;
}
:hover.width-button{
    color: #fff;
    background-color: #133f3b;

}

.color-input{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.plus{
    color:#1A6D63;
    align-self: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    margin-left: 47%;
    margin-right: 47%;
}

.separar{
    margin-bottom: 1rem;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
    button {
        width: 90%;
    }
}

.add-liquidity {
    background-color: #0B5C62;
}

.obsidian {
    display: grid;
    grid-template-columns: 48px auto;
    align-items: center;

    input {
        width: 100%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: 0px;
    }

    .img-container {
        border: 1px solid rgba(34,36,38,.15);
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-top-left-radius: 0px;
        border-bottom-left-radius: 2px;
        margin-top: -2px;
        
        img {   
            width: 24px;
        }
    }
}